In [3]:
first = "Sheba"
second = "Kwamboka"

In [7]:
first +" "+second

'Sheba Kwamboka'

In [11]:
fullname = first+" "+second
fullname

'Sheba Kwamboka'

In [19]:
x = 'Sherly'
y = 'Kay'

In [20]:
x+y

'SherlyKay'

In [22]:
name = input("Enter First name: ")

Enter First name:  anyango

In [23]:
print(name)

anyango

In [24]:
for i in range (11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [25]:
for chr in fullname:
    print(chr)

S
h
e
b
a

K
w
a
m
b
o
k
a

In [26]:
for i in range (1,5,2):
    print(i)

1
3

In [1]:
#1,2,3,4,5,6,7,8,9,10
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [3]:
#1,2,3,4,5,6,7,8,9,10
for x in range(1,11):
    print(x,end=",")

1,2,3,4,5,6,7,8,9,10,

In [5]:
#1,2,3,4,5,6,7,8,9,10
total = 0
for x in range(1,11):
    total+=x
    print(x,end=",")

print('\n', total)

1,2,3,4,5,6,7,8,9,10,
 55

In [6]:
for x in range (1,36,4):
    print(x)

1
5
9
13
17
21
25
29
33

In [7]:
x=int(input("Enter Age: "))
y=int(input("Enter Age: "))
z=int(input("Enter Age: "))
xy=int(input("Enter Age: "))

total = x+y+z+xy
average = total/4

print(total, average)

Enter Age:  22
Enter Age:  24
Enter Age:  50
Enter Age:  47

143 35.75

In [8]:
total = 0
for X in range(4):
    x = int(input("Enter Age"))
    total +=x
    print(x, end=",")
    
print('\n', total, total/4)

Enter Age 22

22,

Enter Age 24

24,

Enter Age 50

50,

Enter Age 47

47,
 143 35.75

In [10]:
x=int(input("Enter Score: "))
y=int(input("Enter Score: "))
z=int(input("Enter Score: "))
a=int(input("Enter Score: "))
xy=int(input("Enter Score: "))
       

total = x+y+z+a+xy
average = total/5

print (average)

Enter Score:  80
Enter Score:  82
Enter Score:  90
Enter Score:  95
Enter Score:  76

84.6

In [11]:
total = 0
for X in range(5):
    x = int(input("Enter Score"))
    total +=x
    print(x, end=",")
    
print('\n', average/5)

Enter Score 80

80,

Enter Score 82

82,

Enter Score 90

90,

Enter Score 95

95,

Enter Score 76

76,
 16.919999999999998

In [12]:
count = 0
while count < 5:
    x = int(input("Enter Age"))
    total +=x
    count +=1
    
print(total/count)

Enter Age 82
Enter Age 90
Enter Age 95
Enter Age 76
Enter Age 80

169.2